body{
    overflow-x: hidden;
}
.main{
    margin: 0 20px;
}

/* Set a size for our map container, the Google Map will take up 100% of this container */
#map {
    width: 750px;
    height: 500px;
}